.header_submenu {
    margin: 5px auto;
    border-bottom: 1px solid #ebebeb;
}

.sub_menu_ref {
    color: black;
    font-size: 12px;
    /* padding-bottom: 1px; */
    box-sizing: border-box;
    font-family: 'SourceSansPro';
    font-weight: 400;
}

.sub_menu_ref span {
    font-weight: 700 !important;
}

.sub_menu_ref:hover {
    color: red;
    font-weight: 700;
}

.sub_menu_ref_i {
    font-family: 'SourceSansPro', 'FontAwesome';
    font-weight: normal;
}

.header_logo, .header_logo:hover {
    font-size: 50px;
    font-weight: 500;
    color: black;
    font-family: 'Dancing Script';
}

.header_logo span {
    color: red;
}

.lang {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.sub_menu_lang, .sub_menu_lang:hover {
    color: black;
    font-size: 12px;
    padding-bottom: 1px;
    box-sizing: border-box;
    font-family: 'SourceSansPro';
    font-weight: 400;
}

.nav li a {
    font-family: 'SourceSansPro';
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: black;
}

.nav li a:hover {
    color: red;
}

.search_form {
    width: 90%;
}

.search {
    /* padding: 3px; */
    border: 1px solid #8f8a8a;
    border-radius: 5px;
    outline: none;
    padding: 0.8px;
}

.search_in {
    width: 90%;
    border: none;
    outline: none;
    /* -webkit-appearance: none; */
}

.search_but {
    width: 10%;
    color: #8f8a8a;
    background: none;
    border: none;
}

.shopping, .bars, .shopping:hover, .bars:hover {
    color: #8f8a8a;
}

@media(max-width:575px) {
    .header_submenu, .nav {
        display: none;
    }
    .header_logo {
        font-size: 25px !important;
        width: 30%;
    }
    .item_right {
        width: 80%;
    }
    .search_form {
        width: 100%;
    }
    .shopping_div, .bars_div {
        width: 10%;
    }
    .bars_div {
        display: block !important;
    }
}

@media(min-width: 576px) and (max-width: 767px) {
    .header_logo {
        font-size: 30px;
    }
    /* .item_right {
        width: 80%;
    } */
}